.input_project{
  border: 0;
  background: #001337;
  color: #FFFFFF;
  padding: 0;
  width: 277.77px;
  height: 47.51px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}
