.projects__pagination{
  width: 288px;
  height: 30px;
  display: flex;
  align-items: center;
}

@media screen and (min-width: 768px){
  .projects__pagination {
    width: 442px;
  }
}

@media screen and (min-width: 1440px){
  .projects__pagination {
    width: 344px;
    height: 32px;
  }
}
