.footer__nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

@media screen and (min-width: 768px) {
    .footer__nav {
      gap: 40px;
    }
  }

@media screen and (min-width: 1440px) {
    .footer__nav {
        gap: 185px;
  }
  }