.footer__content-text {
    display: none;
}

  @media screen and (min-width: 768px) {
    .footer__content-text {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 20px;
      letter-spacing: 0.1px;
      margin: 0;
      max-width: 204px;
      margin-right: 37px;
      display: block;
    }
  }
