.footer__content-city {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    margin: 0;
}

@media screen and (min-width: 768px) {
    .footer__content-city {
        margin-bottom: 4px;
    }
  }