.about-us__card {
  position: relative;
  box-sizing: border-box;
  background-color: #E0F0FF;
  border-radius: 5px;
  border: none;
  max-height: 250px;
  max-width: 288px;
  padding: 16px;
}

@media screen and (min-width: 768px) {
  .about-us__card {
    border-radius: 10px;
    max-height: 330px;
    max-width: 330px;
    padding: 20px;
  }
}