.industrial__paragraph {
  margin: 0;
  margin-bottom: 20px;
  color: #000D26;
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.36;
  letter-spacing: 0.1px;

}
