.education__choice {
    width: 290px;
    height: 40px;
    margin: 16px auto 40px;
    display: flex;
    border-radius: 5px;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid #E0F0FF;
    box-sizing: border-box;
}

@media screen and (min-width: 768px) {
    .education__choice {
        height: 44px;
        margin: 30px auto 60px;
  }
  }

@media screen and (min-width: 1440px) {
    .education__choice {
        width: 540px;
        height: 60px;
        margin: 35px auto 80px;
  }
  }