.team {
  box-sizing: border-box;
  padding: 27px 0 27px 0;
  width: 100%;
  min-width: 320px;
  height: 350px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .team {
    min-width: 768px;
    padding: 40px 0 40px 0;
    height: 480px;
  }
}