.team {
  box-sizing: border-box;
  padding: 27px 0 27px 0;
  width: 100%;
  min-width: 320px;
  height: 350px;
  background-color: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .team {
    padding-top: 27px;
  }
}