.team__subtitle {
  text-transform: uppercase;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
  line-height: 1.36;
  text-align: center;
  color: #000D26;
}

@media screen and (min-width: 768px) {
  .team__subtitle {
    font-size: 24px;
    letter-spacing: 0.1px;
  }
}