.team__job-position {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-style: italic;
  font-size: 10px;
  line-height: 1.36;
  color: #009FAC;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .team__job-position {
    font-size: 12px;
    line-height: 1.45;
  }
}