.footer__about-info {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    align-items: center;
    letter-spacing: 0.1px;
    color: #FFFFFF;
    text-decoration:none
}

@media screen and (min-width: 768px) {
    .footer__about-info {
        line-height: 16px;
        margin-bottom: 8px;
    }
  }

@media screen and (min-width: 1440px) {
    .footer__content-about {
        line-height: 19px;
  }
  }