.swiper-button-next{
  position: initial;
  background-image: url(../../images/Projects/Button-next.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  width: 24px;
  height: 24px;
  margin: 0;
}
.swiper-button-next::after{
  content: none;
}
