.footer__author {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    opacity: 0.5;
    margin: 0 auto;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .footer__author {
        line-height: 20px;
        text-align: left;
        transform: translateY(-22px);
    }
  }

  @media screen and (min-width: 1440px) {
    .footer__author {
        font-size: 14px;
        line-height: 19px;
        transform: translateY(0px);
  }
  }