.popup__button-close {
  position: absolute;
  padding: 0;
  top: 16px;
  right: 22px;
  background-image: url(../../../images/Popup/button-close.svg);
  background-position: center;
  background-color: transparent;
  width: 24px;
  height: 24px;
  border: none;
}

@media (min-width: 768px) {
  .popup__button-close {
    top: 20px;
    right: 20px;
    width: 32px;
    height: 32px;
    background-image: url(../../../images/Popup/button-close_tablet.svg);
  }
}

@media (min-width: 1440px) {
  .popup__button-close {
    right: 20px;
    width: 40px;
    height: 40px;
    background-image: url(../../../images/Popup/button-close_descktop.svg);
  }
}
