.card_icon_project::before {
  background-image: url(../../../images/CardIcon/project.svg);
  background-size: 21px 20px;
  background-position: center;
}

@media (min-width: 1440px) {
  .card_icon_project::before {
    background-size: 34px 34px;
  }
}
