.companies__group {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(20px, 30px));
  gap: 20px 5px;
  width: 100%;
  align-items: end;
}

@media screen and (min-width: 406px){
  .companies__group {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  }
}

@media screen and (min-width: 651px){
  .companies__group {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}

@media screen and (min-width: 768px){
  .companies__group {
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(32px, 48px));
    gap: 30px 5px;
  }
}

@media screen and (min-width: 1024px){
  .companies__group {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  }
}

@media screen and (min-width: 1280px){
  .companies__group {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

@media screen and (min-width: 1440px){
  .companies__group {
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    gap: 50px 5px;
  }
}
