.education__program-more {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.0588372px;
    color: #000D26;
    border: none;
    background-color: #FFFFFF;
    cursor: pointer;
    letter-spacing: 0.1px;
}

@media screen and (min-width: 768px) {
    .education__program-more {
        font-size: 14px;
        line-height: 19px;
        letter-spacing: 0.0588372px;
  }
  }

@media screen and (min-width: 1440px) {
    .education__program-more {
        font-size: 18px;
        line-height: 30px;
  }
  }