.button_card-open{
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  box-shadow: 0px 2.20472px 11.0236px rgba(1, 54, 157, 0.15);
  border-radius: 36px;
  background-image: url(../../../images/Projects/Card-arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

@media screen and (min-width: 768px){
  .button_card-open {
    width: 32px;
    height: 32px;
    box-shadow: 0px 4px 20px rgba(1, 54, 157, 0.15);
    background-size: 19.2px;
    bottom: 16px;
    right: 16px;
  }
}

@media screen and (min-width: 1440px){
  .button_card-open {
    width: 40px;
    height: 40px;
    background-size: 24px;
    bottom: 20px;
    right: 20px;
  }
}
