.learn__choice-magistr {
    background: #E0F0FF;
    border: 1px solid #E0F0FF;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.1px;
    color: #000D26;
    width: 279px;
    height: 60px;
    text-transform: uppercase;
    border-radius: 10px;
    transform: translateX(-10px);
    cursor: pointer;
}