.learn__choice {
    max-width: 540px;
    height: 60px;
    margin: 35px auto 0;
    padding-bottom: 80px;
    display: flex;
    border-radius: 10px;
    z-index: 0;
    transform: translateX(-5px);
}