.learn__choice-aspirant {
    background: #009FAC;
    border: 1px solid #E0F0FF;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.1px;
    color: #FFFFFF;
    width: 279px;
    height: 60px;
    text-transform: uppercase;
    cursor: pointer;
}
