.card__text {
  position: relative;
  margin: 0 auto;
  padding-top: 72px;
  margin-bottom: 25px;
  text-align: center;
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.36;
  letter-spacing: 0.1px;
}

.card__text::before {
  content: "";
  position: absolute;
  top: 16px;
  left: 40px;
  width: 40px;
  height: 40px;
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 36px;
  box-shadow: 0px 4px 20px 0px #01369D26;
}

@media (min-width: 768px) {
  .card__text {
    padding-top: 81.19px;
    margin-bottom: 20px;
  }
}
