.card {
  padding: 10px;
  color: #001337;
  background-color: #FFFFFF;
  border-radius: 10px;
}

.card:hover {
  background-color: #009FAC;
  color: #FFFFFF;
}

.card:hover .card__button {
  color: #009FAC;
  background-color: #FFFFFF;
  border: 1px solid #FFFFFF;
}
