.about-us {
  background-image: url(../../images/background_image.svg);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 320px 412px;
}

@media screen and (min-width: 768px) {
  .about-us {
    min-width: 768px;
    padding: 58px 0px 58px 39px;
    background-position: top center;
    background-size: 1319px 938px;
  }
}