.about-us__card-date {
  color: #009FAC;
  font-weight: 400px;
  font-size: 12px;
  font-style: italic;
  line-height: 1.45;
  margin: 0 0 8px 0;
}

@media screen and (min-width: 768px) {
  .about-us__card-date {
    font-size: 14px;
    line-height: 1.36;
  }
}