.projects__card{
  display: flex;
  flex-direction: column;
  max-width: 140px;
  max-height: 130px;
  background: #009FAC;
  border-radius: 5px;
  padding: 10px;
  position: relative;
}

@media screen and (min-width: 768px){
  .projects__card {
    max-width: 210px;
    max-height: 199px;
    border-radius: 10px;
    padding: 16px;
    background-image: url(../../../images/Projects/Card-background2.svg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
  }
}

@media screen and (min-width: 1440px){
  .projects__card {
    max-width: 254px;
    max-height: 258px;
    padding: 20px;
  }
}
