.projects__group-cards{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  margin-bottom: 8px;
}

@media screen and (min-width: 768px){
  .projects__group-cards {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1440px){
  .projects__group-cards {
    grid-template-columns: repeat(4, 1fr);
    gap: 30px 29px;
  }
}
