.footer__social {
    padding: 21px 0 41px;
}

@media screen and (min-width: 768px) {
    .footer__social {
      padding: 90px 0 0;
    }
  }

@media screen and (min-width: 1440px) {
    .footer__social {
      padding: 66px 0 0;
    }
  }